@charset "utf-8";
/* CSS Document */
.icebear{
	width: 160px;
	height: 185px;
	position: absolute;
	background: #fff;
	border-radius: 100px 100px 0 0;
	z-index: 6;
	margin: 50px;
}
.Panda{
	width: 160px;
	height: 185px;
	position: absolute;
	background: #fff;
	border-radius: 100px 100px 0 0;
	z-index: 7;
	margin: 50px;
}
.Grizzly{
	width: 160px;
	height: 185px;
	position: absolute;
	background: #A06E4D;
	border-radius: 100px 100px 0 0;
	z-index: 6;
	margin: 50px;
}
.small-round{
	height: 13px;
	width: 13px;
	background: black;
	border-radius: 50%;
	
}

.face{
	width: 90px;
	height: 100px;
	margin: 0 auto;
	position: absolute;
	top: 35px;
	left: 50px;
	animation: face 3s linear infinite alternate;
}
@keyframes face{
	 0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(30%);
  
}
	
}
.nose{
	padding-top: 15px;
	
}
.big-round{
	width: 55px;
	height: 75px;
	border: 1px solid black;
	border-radius: 42%;
}
.normal-round{
	width: 35px;
	height: 35px;
	background: black;
	border-radius: 50%;	
	transform: translateY(-205%) translateX(27%)
}
.roung-highlight{
	background: aliceblue;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	transform: translate(14px,-98px)
}
.mouth{
	height: 5px;
	width: 15px;
	background: black;
	transform: translate(20px,-60px)
}
.round-ear{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background: #fff;
	
}
.ear{
	width: 165px;
	position: absolute;
	top: 1px;
	animation: ear 3s linear infinite alternate;
}
.Grizzly .round-ear{
	background: #A06E4D;
}
.Panda .round-ear{
	background: #222222;
}
@keyframes ear{
	 0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
	}
}
